<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrentVersion" value="0.0.2" />
		<add key="PreviousVersion" value="0.0.1" />
		<add key="DownloadConfigURL" value="https://api.github.com/repos/h110m/CS_Test/releases" />
		<add key="Github_RepoURL" value="https://github.com/repos/h110m" />
		<add key="GithubAPI_Releases" value="https://api.github.com/repos/h110m/CS_Test/releases" />
	</appSettings>
</configuration>